In [4]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
population_data = pd.read_csv("data\city_A\population_survey.csv")

In [3]:
population_data.head()

,Unnamed: 0,hh_index,area_id,zone_id,hh_count,hh_children,hh_people_in_work,hh_in_work,hh_income,hh_cars,...,age,employment,occupation,main_activity,main_activity_id,main_facility_area,main_facility_zone,mode,hh_income_bin,age_bin
0,0,0.0,4.0,4.5,5.0,0.0,1.0,yes,170000.0,2.0,...,59.0,employment,skilled,work,78.0,10.0,10.0,car,high,51-61
1,1,0.0,4.0,4.5,5.0,0.0,1.0,yes,170000.0,2.0,...,56.0,retired,none,leisure,82.0,8.0,8.2,car,high,51-61
2,2,0.0,4.0,4.5,5.0,0.0,1.0,yes,170000.0,2.0,...,57.0,retired,none,None,-1.0,-1.0,-1.0,NaN,high,51-61
3,3,0.0,4.0,4.5,5.0,0.0,1.0,yes,170000.0,2.0,...,60.0,retired,none,leisure,85.0,8.0,8.2,car,high,51-61
4,4,0.0,4.0,4.5,5.0,0.0,1.0,yes,170000.0,2.0,...,56.0,retired,none,None,-1.0,-1.0,-1.0,NaN,high,51-61

In [6]:
profile = ProfileReport(population_data, explorative=True)
profile.to_file("population_survey.html")

Summarize dataset: 100%|██████████| 159/159 [00:26<00:00,  6.11it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.57s/it]
Render HTML: 100%|██████████| 1/1 [00:04<00:00,  4.29s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 17.43it/s]

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, height=300, json_input='{"initialViewS…